<section #scrollSection
         (scroll)="checkActiveSection($event)"
         class="main-container">
  <section class="main-content">
    <app-thumbing [activeThumbIndex]="activeSectionIndex"
                  [thumbs]="sectionPositions" (thumb)="setActiveSection($event)"></app-thumbing>
    <section class="screen first-screen">
      <div class="first-screen-blob">
        <svg class="firstblob first-screen-blob-image" width="550" viewBox="0 0 550 400" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="550" height="400" fill="white"/>
          <path d="M545 230C545 274.98 499 325 432.5 350.5C366 376 278.32 395 190 395C58.5 395 5 288 5 170C5.00089 85.5 53 5 140 5C236.5 5 356 53.5 432.5 92C509 130.5 545 175 545 230Z"
                fill="url(#firstblobgradient)"/>
          <defs>
            <radialGradient id="firstblobgradient" cx="0" cy="1" r="1">
              <stop offset="0%" stop-color="#D9EFFF">
                <animate attributeName="stop-color" values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
              <stop offset="100%" stop-color="#EDFCFF">
                <animate attributeName="stop-color" values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
            </radialGradient>
          </defs>
        </svg>
      </div>
      <section class="screen-content">
        <header (clickOutside)="toggleLang(false)"
                class="header">
          <div class="header-row">
            <img [src]="(activeLang === languageEnum.RU) ? logoImage : logoImageEn" class="header-logo">
            <div class="row-end">
              <div class="small-mobile-hide">
                <ng-container *ngTemplateOutlet="lang"></ng-container>
              </div>
              <a href="tel:+74952367127" class="header-phone">+7 (495) 236 71 27</a>
            </div>
          </div>
          <div class="header-row">
            <div>
              <div class="small-mobile-show">
                <ng-container *ngTemplateOutlet="lang"></ng-container>
              </div>
            </div>
            <a href="mailto:info@libete.ru" class="header-mail">info@libete.ru</a>
          </div>
        </header>
        <main class="content content-first">
          <div class="content-fit content-first-start">
            <mat-accordion>
              <mat-expansion-panel
                *ngFor="let mainTranslation of content?.mainTranslations; let idx = index"
                (opened)="expandedRemove(idx); expandedOpen(idx)"
                (closed)="expandedStart(idx); expandedClose()"
                (afterCollapse)="expandedStop(idx)"
                class="panel">
                <mat-expansion-panel-header class="panel-header">
                  <h3 class="panel-title">{{mainTranslation.title}}</h3>
                  <ng-container *ngTemplateOutlet="openClose; context: {index: idx}"></ng-container>
                </mat-expansion-panel-header>
                <div class="panel-wrapper"
                     [class.hidden-opacity]="isInExpanded(idx)">
                  <div class="panel-content">
                    <ul [class.panel-content-list-half]="mainTranslation?.itemsSecond"
                        class="panel-content-list">
                      <li *ngFor="let item of mainTranslation?.items">{{item}}</li>
                    </ul>
                    <ul *ngIf="mainTranslation?.itemsSecond"
                        class="panel-content-list panel-content-list-half">
                      <li *ngFor="let item of mainTranslation?.itemsSecond">{{item}}</li>
                    </ul>
                  </div>
                  <div class="panel-footer">
                    <h4 class="panel-promo">{{mainTranslation?.promo}}</h4>
                    <button (click)="moveToOrderForm()" class="panel-order">{{content.mainTranslationButton}}</button>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="content-fit content-first-end">
            <img [src]="firstImage" class="image-first">
          </div>
        </main>
      </section>
    </section>
    <section class="screen second-screen">
      <div class="second-screen-blob">
        <svg class="blobonerev second-screen-blob-image" width="450" viewBox="0 0 450 400" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M420 247.323C420 340 335 395 255 395C156.5 395 30 316.5 30 216C30 104.5 128 5 222 5C316 5 420 150.5 420 247.323Z" fill="url(#blobonerevgradient)"/>
          <defs>
            <radialGradient id="blobonerevgradient" cx="0" cy="1" r="1">
              <stop offset="0%" stop-color="#D9EFFF">
                <animate attributeName="stop-color" values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
              <stop offset="100%" stop-color="#EDFCFF">
                <animate attributeName="stop-color" values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
            </radialGradient>
          </defs>
        </svg>
      </div>
      <section class="screen-content">
        <h2 class="title">{{content?.flagsTitle}}</h2>
        <div class="flags">
          <div *ngFor="let flag of content?.flags" class="flag">
            <img [src]="imageFlagsPath + flag?.image" [alt]="flag.text" class="flag-image">
            <p class="flag-text" [innerHTML]="flag.text"></p>
          </div>
        </div>
      </section>
    </section>
    <section class="screen third-screen">
      <div class="third-screen-blob">
        <svg class="blobtwo third-screen-blob-image" width="450" viewBox="0 0 450 450" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M425 135.017C425 239.5 285 444.98 180 444.98C89.5 444.98 25 352 25 225C25 98 127.5 5.01746 295.001 5.01746C375.5 5.01746 425 54.5 425 135.017Z"
                fill="url(#blobtwogradient)"/>
          <defs>
            <radialGradient id="blobtwogradient" cx="0" cy="1" r="1">
              <stop offset="0%" stop-color="#D9EFFF">
                <animate attributeName="stop-color" values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
              <stop offset="100%" stop-color="#EDFCFF">
                <animate attributeName="stop-color" values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
            </radialGradient>
          </defs>
        </svg>
      </div>
      <section class="screen-content">
        <div class="test-promo">
          <img [src]="thirdImage" alt="{{content?.testFree0 + content?.testTitle + content?.testFree}}" class="test-promo-image">
          <h2 class="title test-promo-title">
            <span class="orange">{{content?.testFree0}}</span>
            {{content?.testTitle}}
            <span class="orange">{{content?.testFree}}</span>
          </h2>
          <p class="text-promo test-promo-text">{{content?.testText1}}</p>
          <p class="text-promo test-promo-text">{{content?.testText2}}</p>
          <button (click)="showTestTranslateModal()" class="orange-button test-promo-btn">{{content?.testButton}}</button>
        </div>
      </section>
    </section>

    <section class="screen fourth-screen">
      <div class="fourth-screen-blob">
        <svg class="blobone fourth-screen-blob-image" width="450" viewBox="0 0 450 400" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M434.997 161.5C434.997 293 351.5 387.5 231 385C135.021 383.008 15.0527 325 15.0527 225.5C15.0527 111 184 15.0063 300.5 15.0063C382 15.0063 434.997 75.5001 434.997 161.5Z"
                fill="url(#blobonegradient)"/>
          <defs>
            <radialGradient id="blobonegradient" cx="0" cy="1" r="1">
              <stop offset="0%" stop-color="#D9EFFF">
                <animate attributeName="stop-color" values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
              <stop offset="100%" stop-color="#EDFCFF">
                <animate attributeName="stop-color" values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
            </radialGradient>
          </defs>
        </svg>
      </div>
      <section class="screen-content">
        <h2 class="title fourth-screen-title">{{content?.advantagesTitle}}</h2>
        <div class="advantages">
          <div *ngFor="let advantage of content?.advantages" class="advantages-block">
            <p class="text-promo advantages-block-text">{{advantage.text}}</p>
            <img [src]="imageAdvantagesPath+advantage.image" [alt]="advantage.text" class="advantages-block-image">
          </div>
        </div>
      </section>
    </section>


    <section class="screen fifth-screen">
      <div class="fifth-screen-blob">
        <svg class="blobtworev  fifth-screen-blob-image" width="450" viewBox="0 0 450 400" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M420 247.323C420 340 335 395 255 395C156.5 395 30 316.5 30 216C30 104.5 128 5 222 5C316 5 420 150.5 420 247.323Z" fill="url(#blobonerevgradient)"/>
          <defs>
            <radialGradient id="blobonerevgradient" cx="0" cy="1" r="1">
              <stop offset="0%" stop-color="#D9EFFF">
                <animate attributeName="stop-color" values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
              <stop offset="100%" stop-color="#EDFCFF">
                <animate attributeName="stop-color" values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
            </radialGradient>
          </defs>
        </svg>
      </div>
      <section class="screen-content">
        <div class="calculate">
          <h3 class="title calculate-title">{{content?.formTitle}}</h3>
          <img [src]="imageAdvantagesPath + content?.advantages[1]?.image"
               alt="Расчитать стоимость перевода"
               class="calculate-image">
          <form (submit)="submitForm()"
                [formGroup]="calculateForm"
                class="calculate-form">
            <ng-container *ngTemplateOutlet="sendFormStatuses"></ng-container>
            <div [class.pending-opacity]="sendFormPending || sendFormSuccess || sendFormError"
                 class="calculate-form-wrapper">
              <mat-form-field class="calculate-form-field calculate-form-field-middle">
                <mat-label>*{{content?.formName}}</mat-label>
                <input #firstInput
                       formControlName="name"
                       type="text" matInput class="calculate-form-input">
              </mat-form-field>
              <mat-form-field class="calculate-form-field calculate-form-field-short">
                <mat-label>{{content?.formPhone}}</mat-label>
                <input formControlName="phone"
                       type="tel" matInput class="calculate-form-input">
              </mat-form-field>
              <mat-form-field class="calculate-form-field calculate-form-field-long">
                <mat-label>*{{content?.formMail}}</mat-label>
                <input formControlName="email"
                       type="email" matInput class="calculate-form-input">
              </mat-form-field>
              <mat-form-field class="calculate-form-field calculate-form-field-middle">
                <mat-label>{{content?.formFile}}</mat-label>
                <ngx-mat-file-input [formControlName]="'file'"
                                    [multiple]="true"
                                    [accept]="acceptFileTypes"
                                    class="calculate-form-input calculate-form-file"
                ></ngx-mat-file-input>
              </mat-form-field>
              <mat-form-field class="calculate-form-field calculate-form-field-long">
                <mat-label>{{content?.formComment}}</mat-label>
                <textarea formControlName="comment"
                          type="text" matInput
                          class="calculate-form-input"></textarea>
              </mat-form-field>
              <p class="calculate-form-text pale">*{{content?.formText1}}</p>
              <p class="calculate-form-text">{{content?.formText2}}
                <a [href]="(activeLang === languageEnum.RU) ? 'https://libete.ru/poleznie-statii/98-privacy-policy' : 'https://libete.ru/poleznaya-informatsiya/244-privacy-policy'"
                   target="_blank"
                   class="orange">{{content?.formPrivacy}}</a>
              </p>
              <button [disabled]="calculateForm.invalid"
                      class="orange-button calculate-form-submit">{{content?.formSubmit}}
              </button>
            </div>
          </form>
        </div>
      </section>
    </section>


    <section class="screen sixth-screen">
      <div class="sixth-screen-first-blob">
        <svg class="firstblob2 sixth-screen-first-blob-image" width="550" viewBox="0 0 550 400" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="550" height="400" fill="white"/>
          <path d="M545 230C545 274.98 499 325 432.5 350.5C366 376 278.32 395 190 395C58.5 395 5 288 5 170C5.00089 85.5 53 5 140 5C236.5 5 356 53.5 432.5 92C509 130.5 545 175 545 230Z"
                fill="url(#firstblobgradient)"/>
          <defs>
            <radialGradient id="firstblobgradient" cx="0" cy="1" r="1">
              <stop offset="0%" stop-color="#D9EFFF">
                <animate attributeName="stop-color" values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
              <stop offset="100%" stop-color="#EDFCFF">
                <animate attributeName="stop-color" values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
            </radialGradient>
          </defs>
        </svg>
      </div>
      <div class="sixth-screen-second-blob">
        <svg class="blobtwo2 sixth-screen-second-blob-image" width="450" viewBox="0 0 450 450" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M425 135.017C425 239.5 285 444.98 180 444.98C89.5 444.98 25 352 25 225C25 98 127.5 5.01746 295.001 5.01746C375.5 5.01746 425 54.5 425 135.017Z"
                fill="url(#blobtwogradient)"/>
          <defs>
            <radialGradient id="blobtwogradient" cx="0" cy="1" r="1">
              <stop offset="0%" stop-color="#D9EFFF">
                <animate attributeName="stop-color" values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
              <stop offset="100%" stop-color="#EDFCFF">
                <animate attributeName="stop-color" values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
            </radialGradient>
          </defs>
        </svg>
      </div>
      <div class="sixth-screen-third-blob">
        <svg class="blobtworev2 sixth-screen-third-blob-image" width="450" viewBox="0 0 450 450" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M420 247.323C420 340 335 395 255 395C156.5 395 30 316.5 30 216C30 104.5 128 5 222 5C316 5 420 150.5 420 247.323Z" fill="url(#blobtworevgradient)"/>
          <defs>
            <radialGradient id="blobtworevgradient" cx="0" cy="1" r="1">
              <stop offset="0%" stop-color="#D9EFFF">
                <animate attributeName="stop-color" values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
              <stop offset="100%" stop-color="#EDFCFF">
                <animate attributeName="stop-color" values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF" dur="30s" repeatCount="indefinite"></animate>
              </stop>
            </radialGradient>
          </defs>
        </svg>
      </div>
      <section class="screen-content">
        <h2 class="title">{{content?.clientsTitle}}</h2>
        <div class="clients">
          <img *ngFor="let client of clients"
               [src]="imageClientsPath + client.image" [alt]="client.text"
               class="clients-item">
        </div>
        <div class="about">
          <img [src]="aboutImages[0]" class="about-image about-image-first">
          <img [src]="aboutImages[1]" class="about-image about-image-second">
          <h2 class="title about-title">{{content?.aboutTitle}}</h2>
          <p *ngFor="let aboutText of content?.aboutTexts; let idx = index" class="text-promo about-text about-text-{{idx}}">{{aboutText}}</p>
          <h4 class="about-promo">{{content?.aboutPromo}}</h4>
          <button (click)="showTestTranslateModal()" class="orange-button about-order">{{content?.aboutOrder}}</button>
        </div>
      </section>
    </section>

    <footer class="footer">
      <img [src]="aboutImages[2]"
           alt="© 2020 Бюро переводов «Либете»"
           class="footer-image">
      <div class="footer-content">
        <p class="text pale footer-content-text">© 2020 {{content?.footerTitle}}</p>
        <p class="text pale footer-content-text">
          <a href="https://libete.ru/" class="footer-content-text-link">libete.ru</a>
        </p>
      </div>
    </footer>
  </section>
</section>


<ng-template #openClose let-idx="index">
  <span class="cross"
        [class.cross-opened]="activeExpandedIndex === idx">
  <svg class="open-close"
       width="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="corner-1" d="M5 10L15 20L25 10" stroke-width="6" stroke-linejoin="bevel"/>
    <path class="corner-2" d="M5 10L15 20L25 10" stroke-width="6" stroke-linejoin="bevel"/>
  </svg>
  </span>
</ng-template>


<ng-template #sendFormStatuses>
  <div [class.hidden-instant-opacity]="!sendFormPending"
       class="pending-logo">
    <img [src]="pendingLogoLetterImage"
         class="pending-logo-letter">
    <img [src]="pendingLogoRotationImage"
         class="pending-logo-rotation">
  </div>
  <div [class.hidden-instant-opacity]="!sendFormSuccess" class="sent">
    <img [src]="sendFormSuccessImage" class="sent-image">
    <h3 class="sent-title sent-title-success">{{content?.sentSuccessTitle}}</h3>
    <p class="sent-message">{{content?.sentSuccessText1}}</p>
    <p class="sent-message">{{content?.sentSuccessText2}}</p>
    <a (click)="onMoreRequest()" class="sent-link">{{content?.sentSuccessButton}}</a>
  </div>
  <div [class.hidden-instant-opacity]="!sendFormError" class="sent">
    <img [src]="sendFormErrorImage" alt="" class="sent-image">
    <h3 class="sent-title sent-title-error">{{content?.sentErrorTitle}}</h3>
    <p class="sent-message">{{content?.sentErrorText1}}</p>
    <p class="sent-message">{{content?.sentErrorText2}}</p>
    <a (click)="onRepeatSending()" class="sent-link">{{content?.sentErrorButton}}</a>
  </div>
</ng-template>

<ng-template #lang>
  <div class="lang">
    <div [class.lang-container-opened]="isLangsOpen"
         class="lang-container">
      <a *ngFor="let lang of languages"
         (click)="toggleLang()"
         [routerLink]="'/' + lang"
         class="lang-item">
        <img [src]="imageLangsPath + languageFlags[lang]" class="lang-item-image">
      </a>
    </div>
    <button [class.lang-arrow-revert]="isLangsOpen"
            class="lang-arrow"></button>
  </div>
</ng-template>
