<section #scrollSection
         (scroll)="checkActiveSection($event)"
         class="main-container">
    <section class="main-content">
        <app-thumbing [activeThumbIndex]="activeSectionIndex"
                      [thumbs]="sectionPositions" (thumb)="setActiveSection($event)"></app-thumbing>
        <section class="screen first-screen">
            <div class="first-screen-blob">
                <svg class="firstblob first-screen-blob-image" width="550" viewBox="0 0 550 400" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <rect width="550" height="400" fill="white"/>
                    <path d="M545 230C545 274.98 499 325 432.5 350.5C366 376 278.32 395 190 395C58.5 395 5 288 5 170C5.00089 85.5 53 5 140 5C236.5 5 356 53.5 432.5 92C509 130.5 545 175 545 230Z"
                          fill="url(#firstblobgradient)"/>
                    <defs>
                        <radialGradient id="firstblobgradient" cx="0" cy="1" r="1">
                            <stop offset="0%" stop-color="#D9EFFF">
                                <animate attributeName="stop-color"
                                         values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                            <stop offset="100%" stop-color="#EDFCFF">
                                <animate attributeName="stop-color"
                                         values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                        </radialGradient>
                    </defs>
                </svg>
            </div>
            <section class="screen-content">
                <header class="header">
                    <div class="header-row">
                        <img [src]="(activeLang === languageEnum.RU) ? './assets/images/logo.svg' : './assets/images/logo-en.svg'" class="header-logo"
                             alt="logo libete">
                        <div class="row-end">
                            <div class="small-mobile-hide">
                                <ng-container *ngTemplateOutlet="lang"></ng-container>
                            </div>
                            <a href="tel:+442037692434" class="header-phone">+44 (20) 3769-24-34</a>
                        </div>
                    </div>
                    <div class="header-row">
                        <div>
                            <div class="small-mobile-show">
                                <ng-container *ngTemplateOutlet="lang"></ng-container>
                            </div>
                        </div>
                        <a href="mailto:sales@libete.ru" class="header-mail">sales@libete.ru</a>
                    </div>
                </header>
                <main class="content content-first">
                    <div class="content-fit content-first-start">
                        <mat-accordion>

                            <mat-expansion-panel
                                    (opened)="expandedRemove(0); expandedOpen(0)"
                                    (closed)="expandedStart(0); expandedClose()"
                                    (afterCollapse)="expandedStop(0)"
                                    class="panel">
                                <mat-expansion-panel-header class="panel-header">
                                    <h3 class="panel-title">{{'mainTranslations.0.title' | translate}}</h3>
                                    <ng-container *ngTemplateOutlet="openClose; context: {index: 0}"></ng-container>
                                </mat-expansion-panel-header>
                                <div class="panel-wrapper"
                                     [class.hidden-opacity]="isInExpanded(0)">
                                    <div class="panel-content">
                                        <ul [class.panel-content-list-half]="'mainTranslations.0.itemsSecond' | translate"
                                            class="panel-content-list">
                                            <li>{{'mainTranslations.0.items.0' | translate}}</li>
                                            <li>{{'mainTranslations.0.items.1' | translate}}</li>
                                            <li>{{'mainTranslations.0.items.2' | translate}}</li>
                                        </ul>
                                        <ul class="panel-content-list panel-content-list-half">
                                            <li>{{'mainTranslations.0.itemsSecond.0' | translate}}</li>
                                            <li>{{'mainTranslations.0.itemsSecond.1' | translate}}</li>
                                            <li>{{'mainTranslations.0.itemsSecond.2' | translate}}</li>
                                        </ul>
                                    </div>
                                    <div class="panel-footer">
                                        <h4 class="panel-promo">{{'mainTranslations.0.promo' | translate}}</h4>
                                        <button (click)="moveToOrderForm()"
                                                class="panel-order">{{'mainTranslationButton' | translate}}</button>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                                    (opened)="expandedRemove(1); expandedOpen(1)"
                                    (closed)="expandedStart(1); expandedClose()"
                                    (afterCollapse)="expandedStop(1)"
                                    class="panel">
                                <mat-expansion-panel-header class="panel-header">
                                    <h3 class="panel-title">{{'mainTranslations.1.title' | translate}}</h3>
                                    <ng-container *ngTemplateOutlet="openClose; context: {index: 1}"></ng-container>
                                </mat-expansion-panel-header>
                                <div class="panel-wrapper"
                                     [class.hidden-opacity]="isInExpanded(1)">
                                    <div class="panel-content">
                                        <ul class="panel-content-list">
                                            <li>{{'mainTranslations.1.items.0' | translate}}</li>
                                            <li>{{'mainTranslations.1.items.1' | translate}}</li>
                                            <li>{{'mainTranslations.1.items.2' | translate}}</li>
                                            <li>{{'mainTranslations.1.items.3' | translate}}</li>
                                            <li>{{'mainTranslations.1.items.4' | translate}}</li>
                                        </ul>
                                    </div>
                                    <div class="panel-footer">
                                        <h4 class="panel-promo">{{'mainTranslations.1.promo' | translate}}</h4>
                                        <button (click)="moveToOrderForm()"
                                                class="panel-order">{{'mainTranslationButton' | translate}}</button>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                                    (opened)="expandedRemove(2); expandedOpen(2)"
                                    (closed)="expandedStart(2); expandedClose()"
                                    (afterCollapse)="expandedStop(2)"
                                    class="panel">
                                <mat-expansion-panel-header class="panel-header">
                                    <h3 class="panel-title">{{'mainTranslations.2.title' | translate}}</h3>
                                    <ng-container *ngTemplateOutlet="openClose; context: {index: 2}"></ng-container>
                                </mat-expansion-panel-header>
                                <div class="panel-wrapper"
                                     [class.hidden-opacity]="isInExpanded(2)">
                                    <div class="panel-content">
                                        <ul class="panel-content-list">
                                            <li>{{'mainTranslations.2.items.0' | translate}}</li>
                                            <li>{{'mainTranslations.2.items.1' | translate}}</li>
                                            <li>{{'mainTranslations.2.items.2' | translate}}</li>
                                            <li>{{'mainTranslations.2.items.3' | translate}}</li>
                                        </ul>
                                    </div>
                                    <div class="panel-footer">
                                        <h4 class="panel-promo">{{'mainTranslations.2.promo' | translate}}</h4>
                                        <button (click)="moveToOrderForm()"
                                                class="panel-order">{{'mainTranslationButton' | translate}}</button>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                                    (opened)="expandedRemove(3); expandedOpen(3)"
                                    (closed)="expandedStart(3); expandedClose()"
                                    (afterCollapse)="expandedStop(3)"
                                    class="panel">
                                <mat-expansion-panel-header class="panel-header">
                                    <h3 class="panel-title">{{'mainTranslations.3.title' | translate}}</h3>
                                    <ng-container *ngTemplateOutlet="openClose; context: {index: 3}"></ng-container>
                                </mat-expansion-panel-header>
                                <div class="panel-wrapper"
                                     [class.hidden-opacity]="isInExpanded(3)">
                                    <div class="panel-content">
                                        <ul class="panel-content-list">
                                            <li>{{'mainTranslations.3.items.0' | translate}}</li>
                                        </ul>
                                    </div>
                                    <div class="panel-footer">
                                        <h4 class="panel-promo">{{'mainTranslations.3.promo' | translate}}</h4>
                                        <button (click)="moveToOrderForm()"
                                                class="panel-order">{{'mainTranslationButton' | translate}}</button>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                        </mat-accordion>
                    </div>
                    <div class="content-fit content-first-end">
                        <img [src]="firstImage" class="image-first" alt="translation agency">
                    </div>
                </main>
            </section>
        </section>
        <section class="screen second-screen">
            <div class="second-screen-blob">
                <svg class="blobonerev second-screen-blob-image" width="450" viewBox="0 0 450 400" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M420 247.323C420 340 335 395 255 395C156.5 395 30 316.5 30 216C30 104.5 128 5 222 5C316 5 420 150.5 420 247.323Z"
                          fill="url(#blobonerevgradient)"/>
                    <defs>
                        <radialGradient id="blobonerevgradient" cx="0" cy="1" r="1">
                            <stop offset="0%" stop-color="#D9EFFF">
                                <animate attributeName="stop-color"
                                         values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                            <stop offset="100%" stop-color="#EDFCFF">
                                <animate attributeName="stop-color"
                                         values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                        </radialGradient>
                    </defs>
                </svg>
            </div>
            <section class="screen-content">
                <h2 class="title">{{'flagsTitle' | translate}}</h2>
                <div class="flags">
                    <div class="flag">
                        <img src="assets/flags/star-flag-1.svg" [alt]="'flags.0.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.0.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-7.svg" [alt]="'flags.1.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.1.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-15.svg" [alt]="'flags.2.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.2.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-4.svg" [alt]="'flags.3.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.3.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-9.svg" [alt]="'flags.4.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.4.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-8.svg" [alt]="'flags.5.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.5.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-3.svg" [alt]="'flags.6.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.6.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-2.svg" [alt]="'flags.7.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.7.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-11.svg" [alt]="'flags.8.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.8.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-5.svg" [alt]="'flags.9.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.9.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-6.svg" [alt]="'flags.10.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.10.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-10.svg" [alt]="'flags.11.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.11.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-13.svg" [alt]="'flags.12.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.12.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-12.svg" [alt]="'flags.13.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.13.text' | translate"></p>
                    </div>
                    <div class="flag">
                        <img src="assets/flags/star-flag-14.svg" [alt]="'flags.14.text' | translate" class="flag-image">
                        <p class="flag-text" [innerHTML]="'flags.14.text' | translate"></p>
                    </div>
                </div>
            </section>
        </section>
        <section class="screen third-screen">
            <div class="third-screen-blob">
                <svg class="blobtwo third-screen-blob-image" width="450" viewBox="0 0 450 450" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M425 135.017C425 239.5 285 444.98 180 444.98C89.5 444.98 25 352 25 225C25 98 127.5 5.01746 295.001 5.01746C375.5 5.01746 425 54.5 425 135.017Z"
                          fill="url(#blobtwogradient)"/>
                    <defs>
                        <radialGradient id="blobtwogradient" cx="0" cy="1" r="1">
                            <stop offset="0%" stop-color="#D9EFFF">
                                <animate attributeName="stop-color"
                                         values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                            <stop offset="100%" stop-color="#EDFCFF">
                                <animate attributeName="stop-color"
                                         values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                        </radialGradient>
                    </defs>
                </svg>
            </div>
            <section class="screen-content">
                <div class="test-promo">
                    <img [src]="thirdImage" alt="{{'testTitle' | translate}}"
                         class="test-promo-image">
                    <h2 class="title test-promo-title">
                        <span class="orange">{{'testTitle' | translate}}</span>
                    </h2>
                    <p class="text-promo test-promo-text">{{'testText1' | translate}}</p>
                    <p class="text-promo test-promo-text">{{'testText2' | translate}}</p>
                    <button (click)="showTestTranslateModal()"
                            class="orange-button test-promo-btn">{{'testButton' | translate}}</button>
                </div>
            </section>
        </section>

        <section class="screen fourth-screen">
            <div class="fourth-screen-blob">
                <svg class="blobone fourth-screen-blob-image" width="450" viewBox="0 0 450 400" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M434.997 161.5C434.997 293 351.5 387.5 231 385C135.021 383.008 15.0527 325 15.0527 225.5C15.0527 111 184 15.0063 300.5 15.0063C382 15.0063 434.997 75.5001 434.997 161.5Z"
                          fill="url(#blobonegradient)"/>
                    <defs>
                        <radialGradient id="blobonegradient" cx="0" cy="1" r="1">
                            <stop offset="0%" stop-color="#D9EFFF">
                                <animate attributeName="stop-color"
                                         values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                            <stop offset="100%" stop-color="#EDFCFF">
                                <animate attributeName="stop-color"
                                         values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                        </radialGradient>
                    </defs>
                </svg>
            </div>
            <section class="screen-content">
                <h2 class="title fourth-screen-title">{{'advantagesTitle' | translate}}</h2>
                <div class="advantages">

                    <div class="advantages-block">
                        <p class="text-promo advantages-block-text">{{'advantages.0.text' | translate}}</p>
                        <img src="assets/advantages/advantage-1.svg" [alt]="'advantages.0.text' | translate"
                             class="advantages-block-image">
                    </div>
                    <div class="advantages-block">
                        <p class="text-promo advantages-block-text">{{'advantages.1.text' | translate}}</p>
                        <img src="assets/advantages/advantage-2.svg"[alt]="'advantages.1.text' | translate"
                             class="advantages-block-image">
                    </div>
                    <div class="advantages-block">
                        <p class="text-promo advantages-block-text">{{'advantages.2.text' | translate}}</p>
                        <img src="assets/advantages/advantage-3.svg" [alt]="'advantages.2.text' | translate"
                             class="advantages-block-image">
                    </div>
                    <div class="advantages-block">
                        <p class="text-promo advantages-block-text">{{'advantages.3.text' | translate}}</p>
                        <img src="assets/advantages/advantage-4.svg" [alt]="'advantages.3.text' | translate"
                             class="advantages-block-image">
                    </div>
                    <div class="advantages-block">
                        <p class="text-promo advantages-block-text">{{'advantages.4.text' | translate}}</p>
                        <img src="assets/advantages/advantage-5.svg" [alt]="'advantages.4.text' | translate"
                             class="advantages-block-image">
                    </div>
                    <div class="advantages-block">
                        <p class="text-promo advantages-block-text">{{'advantages.5.text' | translate}}</p>
                        <img src="assets/advantages/advantage-6.svg" [alt]="'advantages.5.text' | translate"
                             class="advantages-block-image">
                    </div>
                    <div class="advantages-block">
                        <p class="text-promo advantages-block-text">{{'advantages.6.text' | translate}}</p>
                        <img src="assets/advantages/advantage-7.svg" [alt]="'advantages.6.text' | translate"
                             class="advantages-block-image">
                    </div>

                </div>
            </section>
        </section>

        <section class="screen fifth-screen">
            <div class="fifth-screen-blob">
                <svg class="blobtworev  fifth-screen-blob-image" width="450" viewBox="0 0 450 400" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M420 247.323C420 340 335 395 255 395C156.5 395 30 316.5 30 216C30 104.5 128 5 222 5C316 5 420 150.5 420 247.323Z"
                          fill="url(#blobonerevgradient)"/>
                    <defs>
                        <radialGradient id="blobonerevgradient" cx="0" cy="1" r="1">
                            <stop offset="0%" stop-color="#D9EFFF">
                                <animate attributeName="stop-color"
                                         values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                            <stop offset="100%" stop-color="#EDFCFF">
                                <animate attributeName="stop-color"
                                         values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                        </radialGradient>
                    </defs>
                </svg>
            </div>
            <section class="screen-content">
                <div class="calculate">
                    <h3 class="title calculate-title">{{'formTitle' | translate}}</h3>
                    <img src="assets/advantages/advantage-2.svg"
                         alt="{{'formTitle' | translate}}"
                         class="calculate-image">
                    <ng-container *ngTemplateOutlet="testTranlate"></ng-container>
                </div>
            </section>
        </section>

        <section class="screen sixth-screen">
            <div class="sixth-screen-first-blob">
                <svg class="firstblob2 sixth-screen-first-blob-image" width="550" viewBox="0 0 550 400" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <rect width="550" height="400" fill="white"/>
                    <path d="M545 230C545 274.98 499 325 432.5 350.5C366 376 278.32 395 190 395C58.5 395 5 288 5 170C5.00089 85.5 53 5 140 5C236.5 5 356 53.5 432.5 92C509 130.5 545 175 545 230Z"
                          fill="url(#firstblobgradient)"/>
                    <defs>
                        <radialGradient id="firstblobgradient" cx="0" cy="1" r="1">
                            <stop offset="0%" stop-color="#D9EFFF">
                                <animate attributeName="stop-color"
                                         values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                            <stop offset="100%" stop-color="#EDFCFF">
                                <animate attributeName="stop-color"
                                         values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                        </radialGradient>
                    </defs>
                </svg>
            </div>
            <div class="sixth-screen-second-blob">
                <svg class="blobtwo2 sixth-screen-second-blob-image" width="450" viewBox="0 0 450 450" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M425 135.017C425 239.5 285 444.98 180 444.98C89.5 444.98 25 352 25 225C25 98 127.5 5.01746 295.001 5.01746C375.5 5.01746 425 54.5 425 135.017Z"
                          fill="url(#blobtwogradient)"/>
                    <defs>
                        <radialGradient id="blobtwogradient" cx="0" cy="1" r="1">
                            <stop offset="0%" stop-color="#D9EFFF">
                                <animate attributeName="stop-color"
                                         values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                            <stop offset="100%" stop-color="#EDFCFF">
                                <animate attributeName="stop-color"
                                         values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                        </radialGradient>
                    </defs>
                </svg>
            </div>
            <div class="sixth-screen-third-blob">
                <svg class="blobtworev2 sixth-screen-third-blob-image" width="450" viewBox="0 0 450 450" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M420 247.323C420 340 335 395 255 395C156.5 395 30 316.5 30 216C30 104.5 128 5 222 5C316 5 420 150.5 420 247.323Z"
                          fill="url(#blobtworevgradient)"/>
                    <defs>
                        <radialGradient id="blobtworevgradient" cx="0" cy="1" r="1">
                            <stop offset="0%" stop-color="#D9EFFF">
                                <animate attributeName="stop-color"
                                         values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                            <stop offset="100%" stop-color="#EDFCFF">
                                <animate attributeName="stop-color"
                                         values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF"
                                         dur="30s" repeatCount="indefinite"></animate>
                            </stop>
                        </radialGradient>
                    </defs>
                </svg>
            </div>
            <section class="screen-content">
                <h2 class="title">{{'clientsTitle' | translate}}</h2>
                <div class="clients">
                    <img *ngFor="let client of clients"
                         [src]="imageClientsPath + client.image" [alt]="client.text"
                         class="clients-item">
                </div>
                <div class="about">
                    <img [src]="aboutImages[0]" class="about-image about-image-first" alt="{{'aboutTitle' | translate}}">
                    <img [src]="aboutImages[1]" class="about-image about-image-second" alt="{{'aboutTitle' | translate}}">
                    <h2 class="title about-title">{{'aboutTitle' | translate}}</h2>

                    <p class="text-promo about-text about-text-0">{{'aboutTexts.0' | translate}}</p>
                    <p class="text-promo about-text about-text-0">{{'aboutTexts.1' | translate}}</p>
                    <p class="text-promo about-text about-text-0">{{'aboutTexts.2' | translate}}</p>
                    <p class="text-promo about-text about-text-0">{{'aboutTexts.3' | translate}}</p>
                    <p class="text-promo about-text about-text-0">{{'aboutTexts.4' | translate}}</p>
                    <p class="text-promo about-text about-text-0">{{'aboutTexts.5' | translate}}</p>

                    <h4 class="about-promo">{{'aboutPromo' | translate}}</h4>
                    <button (click)="showTestTranslateModal()"
                            class="orange-button about-order">{{'aboutOrder' | translate}}</button>
                </div>
            </section>
        </section>

        <footer class="footer">
            <img [src]="aboutImages[2]"
                 alt="© 2020 {{'footerTitle' | translate}}"
                 class="footer-image">
            <div class="footer-content">
                <p class="text pale footer-content-text">© 2020 {{'footerTitle' | translate}}</p>
                <p class="text pale footer-content-text">
                    <a href="https://libete.ru/" class="footer-content-text-link">libete.ru</a>
                </p>
            </div>
        </footer>
    </section>
</section>


<ng-template #openClose let-idx="index">
  <span class="cross"
        [class.cross-opened]="activeExpandedIndex === idx">
  <svg class="open-close"
       width="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="corner-1" d="M5 10L15 20L25 10" stroke-width="6" stroke-linejoin="bevel"/>
    <path class="corner-2" d="M5 10L15 20L25 10" stroke-width="6" stroke-linejoin="bevel"/>
  </svg>
  </span>
</ng-template>


<ng-template #sendFormStatuses>
    <div [class.hidden-instant-opacity]="!sendFormPending"
         class="pending-logo">
        <img [src]="pendingLogoLetterImage"
             class="pending-logo-letter" alt="file">
        <img [src]="pendingLogoRotationImage"
             class="pending-logo-rotation" alt="rotation">
    </div>
    <div [class.hidden-instant-opacity]="!sendFormSuccess" class="sent">
        <img [src]="sendFormSuccessImage" class="sent-image" alt="sent ok">
        <h3 class="sent-title sent-title-success">{{'sentSuccessTitle' | translate}}</h3>
        <p class="sent-message">{{'sentSuccessText1' | translate}}</p>
        <p class="sent-message">{{'sentSuccessText2' | translate}}</p>
        <a (click)="onMoreRequest()" class="sent-link">{{'sentSuccessButton' | translate}}</a>
    </div>
    <div [class.hidden-instant-opacity]="!sendFormError" class="sent">
        <img [src]="sendFormErrorImage" alt="" class="sent-image">
        <h3 class="sent-title sent-title-error">{{'sentErrorTitle' | translate}}</h3>
        <p class="sent-message">{{'sentErrorText1' | translate}}</p>
        <p class="sent-message">{{'sentErrorText2' | translate}}</p>
        <a (click)="onRepeatSending()" class="sent-link">{{'sentErrorButton' | translate}}</a>
    </div>
</ng-template>

<ng-template #testTranlate>
<form (submit)="submitForm()"
      [formGroup]="calculateForm"
      class="calculate-form">
    <ng-container *ngTemplateOutlet="sendFormStatuses"></ng-container>
    <div [class.pending-opacity]="sendFormPending || sendFormSuccess || sendFormError"
         class="calculate-form-wrapper">
        <mat-form-field class="calculate-form-field calculate-form-field-middle">
            <mat-label>*{{'formName' | translate}}</mat-label>
            <input #firstInput
                   formControlName="name"
                   type="text" matInput class="calculate-form-input">
        </mat-form-field>
        <mat-form-field class="calculate-form-field calculate-form-field-short">
            <mat-label>{{'formPhone' | translate}}</mat-label>
            <input formControlName="phone"
                   type="tel" matInput class="calculate-form-input">
        </mat-form-field>
        <mat-form-field class="calculate-form-field calculate-form-field-long">
            <mat-label>*{{'formMail' | translate}}</mat-label>
            <input formControlName="email"
                   type="email" matInput class="calculate-form-input">
        </mat-form-field>
        <mat-form-field class="calculate-form-field calculate-form-field-middle">
            <mat-label>{{'formFile' | translate}}</mat-label>
            <ngx-mat-file-input [formControlName]="'file'"
                                [multiple]="true"
                                [accept]="acceptFileTypes"
                                class="calculate-form-input calculate-form-file"
            >
            </ngx-mat-file-input>
            <img class="absolute-right" src="assets/icons/clip.svg" style="position: absolute;right: 0;">
        </mat-form-field>
        <mat-form-field class="calculate-form-field calculate-form-field-long">
            <mat-label>{{'formComment' | translate}}</mat-label>
            <textarea formControlName="comment"
                      type="text" matInput
                      class="calculate-form-input"></textarea>
        </mat-form-field>
        <p class="calculate-form-text pale">*{{'formText1' | translate}}</p>
        <p class="calculate-form-text">{{'formText2' | translate}}
            <a [href]="(activeLang === languageEnum.RU) ? 'https://libete.ru/poleznie-statii/98-privacy-policy' : 'https://libete.ru/poleznaya-informatsiya/244-privacy-policy'"
               target="_blank"
               class="orange">{{'formPrivacy' | translate}}</a>
        </p>
        <button [disabled]="calculateForm.invalid" onclick="Comagic.addOfflineRequest({name: $('[formcontrolname = name]').val(),email: $('[formcontrolname = email]').val(),phone: $('[formcontrolname = phone]').val(),message: $('[formcontrolname = comment]').val()});"
                class="orange-button calculate-form-submit">{{'formSubmit' | translate}}
        </button>
    </div>
</form>
</ng-template>


<ng-template #lang>

    <div class="lang" (click)="toggleLang()">
        <div [class.lang-container-opened]="isLangsOpen"
             class="lang-container">
            <a *ngFor="let lang of languages"
               [routerLink]="'/' + lang"
               (click)="useLanguage(lang);"
               class="lang-item">
                <img [src]="imageLangsPath + languageFlags[lang]" class="lang-item-image" alt="language flag">
            </a>
        </div>
        <button [class.lang-arrow-revert]="isLangsOpen"
                class="lang-arrow"><img src="assets/icons/lang-arrow.svg" class="lang-arrow-img"></button>
    </div>
</ng-template>


