<div class="modal">
  <div class="modal-content">
    <h2 class="modal-title">{{content?.modalTitle}}</h2>
    <form (submit)="submitForm()"
          [formGroup]="translateForm"
          class="translate-form">
      <ng-container *ngTemplateOutlet="sendFormStatuses"></ng-container>
      <div [class.pending-opacity]="sendFormPending || sendFormSuccess || sendFormError"
           class="translate-form-wrapper">
        <mat-form-field class="translate-form-field translate-form-field-middle">
          <mat-label>*{{content?.formName}}</mat-label>
          <input #firstInput
                 formControlName="name"
                 type="text" matInput class="translate-form-input">
        </mat-form-field>
        <mat-form-field class="translate-form-field translate-form-field-short">
          <mat-label>{{content?.formPhone}}</mat-label>
          <input formControlName="phone"
                 type="tel" matInput class="translate-form-input">
        </mat-form-field>
        <mat-form-field class="translate-form-field translate-form-field-long">
          <mat-label>*{{content?.formMail}}</mat-label>
          <input formControlName="email"
                 type="email" matInput class="translate-form-input">
        </mat-form-field>
        <mat-form-field class="translate-form-field translate-form-field-middle">
          <mat-label>{{content?.formFile}}</mat-label>
          <ngx-mat-file-input [formControlName]="'file'"
                              [multiple]="true"
                              [accept]="acceptFileTypes"
                              class="translate-form-input translate-form-file">
          </ngx-mat-file-input>
            <img class="absolute-right" src="assets/icons/clip.svg" style="position: absolute;right: 0;">
        </mat-form-field>
        <mat-form-field class="translate-form-field translate-form-field-long">
          <mat-label>{{content?.formComment}}</mat-label>
          <textarea formControlName="comment"
                    type="text" matInput
                    class="translate-form-input"></textarea>
        </mat-form-field>
        <p class="translate-form-text pale">*{{content?.formText1}}</p>
        <p class="translate-form-text">{{content?.formText2}}
            <a [href]="(activeLang === languageEnum.RU) ? 'https://libete.ru/poleznie-statii/98-privacy-policy' : 'https://libete.ru/poleznaya-informatsiya/244-privacy-policy'"
               target="_blank"
               class="orange">{{content?.formPrivacy}}</a>

        </p>
        <button [disabled]="translateForm.invalid"
                class="orange-button translate-form-submit" onclick="Comagic.addOfflineRequest({name: $('[formcontrolname = name]').val(),email: $('[formcontrolname = email]').val(),phone: $('[formcontrolname = phone]').val(),message: $('[formcontrolname = comment]').val()});">{{content?.formSubmit}}
        </button>
      </div>
    </form>
  </div>
  <button mat-dialog-close class="modal-close"><img src="assets/icons/close-modal.svg" class="modal-close-icon"></button>
  <svg class="modal-blob modal-blob-first blobonerev" width="450" viewBox="0 0 450 400" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M420 247.323C420 340 335 395 255 395C156.5 395 30 316.5 30 216C30 104.5 128 5 222 5C316 5 420 150.5 420 247.323Z" fill="url(#blobonerevgradient)"/>
    <defs>
      <radialGradient id="blobonerevgradient" cx="0" cy="1" r="1">
        <stop offset="0%" stop-color="#D9EFFF">
          <!--top-point-->
          <animate attributeName="stop-color" values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF" dur="30s" repeatCount="indefinite"></animate>
        </stop>
        <stop offset="100%" stop-color="#EDFCFF">
          <!--bot-point-->
          <animate attributeName="stop-color" values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF" dur="30s" repeatCount="indefinite"></animate>
        </stop>
      </radialGradient>
    </defs>
  </svg>
  <svg class="modal-blob modal-blob-second blobtwo" width="450" viewBox="0 0 450 450" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M425 135.017C425 239.5 285 444.98 180 444.98C89.5 444.98 25 352 25 225C25 98 127.5 5.01746 295.001 5.01746C375.5 5.01746 425 54.5 425 135.017Z" fill="url(#blobtwogradient)"/>
    <defs>
      <radialGradient id="blobtwogradient" cx="0" cy="1" r="1">
        <stop offset="0%" stop-color="#D9EFFF">
          <!--top-point-->
          <animate attributeName="stop-color" values="#D9EFFF; #D9FFFC; #D9FFFC; #FCFFD9; #FCFFD9; #FFF3ED; #FFF3ED; #D9EFFF; #D9EFFF" dur="30s" repeatCount="indefinite"></animate>
        </stop>
        <stop offset="100%" stop-color="#EDFCFF">
          <!--bot-point-->
          <animate attributeName="stop-color" values="#EDFCFF; #EDFFF9; #EDFFF9; #FFFCED; #FFFCED; #FFEFD9; #FFEFD9; #EDFCFF; #EDFCFF" dur="30s" repeatCount="indefinite"></animate>
        </stop>
      </radialGradient>
    </defs>
  </svg>
</div>

<ng-template #sendFormStatuses>
  <div [class.hidden-instant-opacity]="!sendFormPending"
       class="pending-logo">
    <img [src]="pendingLogoLetterImage"
         class="pending-logo-letter">
    <img [src]="pendingLogoRotationImage"
         class="pending-logo-rotation">
  </div>
  <div [class.hidden-instant-opacity]="!sendFormSuccess" class="sent">
    <img [src]="sendFormSuccessImage" class="sent-image">
    <h3 class="sent-title sent-title-success">{{content?.sentSuccessTitle}}</h3>
    <p class="sent-message">{{content?.sentSuccessText1}}</p>
    <p class="sent-message">{{content?.sentSuccessText2}}</p>
    <a (click)="onMoreRequest()" class="sent-link">{{content?.sentSuccessButton}}</a>
  </div>
  <div [class.hidden-instant-opacity]="!sendFormError" class="sent">
    <img [src]="sendFormErrorImage" alt="" class="sent-image">
    <h3 class="sent-title sent-title-error">{{content?.sentErrorTitle}}</h3>
    <p class="sent-message">{{content?.sentErrorText1}}</p>
    <p class="sent-message">{{content?.sentErrorText2}}</p>
    <a (click)="onRepeatSending()" class="sent-link">{{content?.sentErrorButton}}</a>
  </div>
</ng-template>

